version: '3.8'

services:
  backend:
    container_name: backend_service
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    restart: always

  frontend:
    container_name: frontend_service
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://backend:5000
    restart: always